@model IEnumerable<DoctorOnCall.ViewModel.DoctorViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfStars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChoseFiles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VedioLinks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SomeWordsAboutYou)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YourQualifications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceAndProcedures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experiences)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achivements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PracticeDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfStars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChoseFiles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VedioLinks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SomeWordsAboutYou)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YourQualifications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceAndProcedures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experiences)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achivements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PracticeDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
